html,
body
{
    width: 99%;
    height: 100%;
    margin: 0;
    padding: 0;

}

header,
main,
footer,
h3
{
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transition: all 1s ease-out;
}

header
{
    text-align: center;
    color: #7a7a7a;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: .8em;
    padding: 1%;
}

main
{
    height: 60%;
}

header,
main,
.wrapDescription
{
    transform: rotateZ(-2deg);
    -webkit-backface-visibility: hidden;
}

nav ul,
h3,
.wrapBottom
{
    transform: rotateZ(-1deg);
    -webkit-backface-visibility: hidden;
}

header,
h4,
h3
{
    padding-bottom: 0;
    margin-bottom: 0;
}

.news,
.description,
.query,
.examples
{
    transform: rotateZ(2deg);
    -webkit-backface-visibility: hidden;
}

.wrapDescription,
.wrapQuery
{
    border-style: solid;
    border-top-width: 0;
}

.wrapQuery
{
    border-image: linear-gradient(to right, transparent, #f00 20%, transparent 20%) 1;
    margin-top: 1%;
    margin-left: 10%;
}

.wrapDescription
{
    border-image: linear-gradient(to right, transparent, #f00 40%, transparent 40%) 1;
}

header,
nav ul,
.firstLineFooter
{
    font-family: 'Impact', sans-serif;
}

h1
{
    color: #000;
    font-size: 3.5em;
    font-weight: lighter;
    margin: 0;
    box-shadow: 8px 8px 5px rgba(0,0,0,.5);
    background: #fff;
}

.h1,
.wrapH1
{
    padding-left: 10%;
    position: relative;
    z-index: 1;
}

.wrapH1
{
    border-style: solid;
    border-image: linear-gradient(45deg, transparent, #f00 100%) 1;
    border-left-width: 0;
}

.h1
{
    border-right: 2px solid #f00;
    border-left: none;
    padding-right: 0;
}

.wrapH1,
.blackBorder1
{
    border-right: none;
    margin-top: 10px;
}

.blackBorder1
{
    border-style: solid;
    border-image: linear-gradient(-35deg, transparent 30%, #000 100%, transparent) 1;
    border-left: 2px solid #000;
    border-right-width: 0;
    width: 15%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 30%;
}

.blackBorder2,
.blackBorder3,
.blackBorder4
{
    border-style: solid;
    border-bottom-width: 0;
    position: absolute;
    height: 0;
    width: 30%;
    border-image: linear-gradient(to right, transparent, #6f6f6f 50%, transparent 30%) 1;
}

.blackBorder2
{
    top: 35%;
    left: 50%;
}

.blackBorder3
{
    top: 110%;
    left: 40%;
}

.compTekTop
{
    position: absolute;
    top: 40%;
    left: 60%;
    width: 20%;
    height: 60%;
    margin-left: -10%;
    display: inline-flex;
    justify-content: flex-end;
    border-style: solid;
    border-image: linear-gradient(135deg, transparent 20%, #f00 100%, transparent) 1;
    background-image: linear-gradient(to right, transparent 10%, #f2d6d6);
    border-left-width: 0;
}

.compTek
{
    position: relative;
    height: 30%;
    display: inline-flex;
    font-size: 1.3em;
    font-family: 'Droid Sans', sans-serif;
    color: #6f6f6f;
    border: 1px solid #6f6f6f;
    margin: 5%;
    margin-right: 3%;
}

.comp
{
    background: #fff;
    border-right: 1px solid #000;
    padding: 3%;
    font-weight: bold;
}

.tek
{
    background: #bd4141;
    color: #fff;
    border-left: 1px solid #000;
    padding: 3%;
    margin-right: 15%;
}

.compTekBottom
{
    width: 25%;
    height: 60%;
    padding: .3%;
    padding-right: 0;
    margin-right: -10%;
    margin-bottom: 1%;
    display: inline-flex;
    justify-content: flex-end;
    border-style: solid;
    border-image: linear-gradient(155deg, transparent, #f00 100%, transparent) 1;
    background-image: linear-gradient(to right, transparent 10%, #f2d6d6);
    border-left-width: 0;
}

nav ul li:nth-child(2n+1),
h1::first-letter,
h3
{
    color: #f00;
}

h1::first-letter,
h3
{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

h1::first-letter
{
    border: 2px solid #f00;
    border-top: none;
    border-bottom: none;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}

aside.left
{
    width: 31%;
    float: left;
    border-style: solid;
    border-image: linear-gradient(to bottom, transparent, #f00, transparent) 1;
    margin-left: 3%;
    padding: 2%;
    padding-bottom: 0;
}

aside.left,
.examples ul
{
    padding-top: 0;
    margin-top: 0;
}

aside.right
{
    width: 61%;
    float: right;
}

nav ul
{
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    width: 60%;
}

nav
{
    margin-left: 20%;
}

.query > label
{
    display: inline-block;
    width: 60px;
}

input[type='submit']
{
    margin-left: 65px;
}

.explanation
{
    font-size: .8em;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: -5%;
}

.examples h4
{
    text-align: left;
    margin-left: 5%;
}

.examples ul
{
    list-style-type: none;
    font-size: .8em;
}

footer
{
    text-align: center;
    font-size: .8em;
}

footer div
{
    font-style: normal;
}

.noneDecoration
{
    text-decoration: none;
    border-bottom: 1px solid #9ec8dd;
}

.blackBorder4
{
    width: 21%;
    top: -15%;
    left: 55%;
}

.blackBorder5,
.blackBorder6
{
    border-style: solid;
    width: 10%;
    height: 60%;
    position: absolute;
}

.blackBorder5
{
    border-image: linear-gradient(to left, transparent, #000 100%, transparent 80%) 1;
    border-bottom-width: 0;
    border-left: 2px solid #000;
    top: -35%;
    left: 30%;
}

.blackBorder6
{
    width: 5%;
    border-image: linear-gradient(to left, transparent, #6f6f6f 100%, transparent 80%) 1;
    border-top-width: 0;
    border-left: 2px solid #6f6f6f;
    top: 5%;
    left: 31%;
}

.redBorder1,
.redBorder2
{
    border-style: solid;
    border-bottom-width: 0;
    position: absolute;
    height: 0;
    width: 25%;
    border-image: linear-gradient(to right, transparent, #f00 50%, transparent 30%) 1;
}

.redBorder1
{
    top: -15%;
    left: 40%;
}

.redBorder2
{
    top: 25%;
    left: 35%;
    opacity: .5;
}

.secondVersion
{
    display: none;
}

input[value='version']:checked ~ header .firstVersion,
input[value='version']:checked ~ main aside .firstVersion,
input[value='version']:checked ~ footer .firstVersion
{
    animation-name: closing;
    display: none;
}

input[value='version']:checked ~ header .secondVersion,
input[value='version']:checked ~ main aside .secondVersion
{
    display: inline-flex;
    flex-direction: column;
    transform: rotateZ(2deg);
}

input[value='version']:checked ~ main aside .secondVersion,
input[value='version']:checked ~ footer .secondVersion
{
    display: block;
}

input[value='version']:checked ~ main aside.left
{
    font-size: .8em;
    margin-top: 4%;
    width: 29%;
    padding-right: 0;
    background-image: url(http://bit.ly/1HLeGMG);
    background-repeat: no-repeat;
}

input[value='version']:checked ~ main aside.left .light h3
{
    font-size: 1.4em;
    display: flex;
    align-items: flex-end;
}

input[value='version']:not(:checked) ~ main aside.left .light h3
{
    margin-left: -50px;
}

input[value='version'],
label
{
    padding: 1px;
}

header .secondVersion
{
    height: 100%;
}

header .secondVersion .logo
{
    height: 68px;
    padding: 0;
    width: 160%;
    margin-left: -35%;
    border: 2px solid #ccc;
    background-image: linear-gradient(to left, transparent 50%, #f2d6d6);
}

.textLeft,
.textRight
{
    font-size: 2.1em;
    color: #bbb;
    margin-top: 23%;
    display: inline-block;
    transform: translateY(-113px);
}

.textRight
{
    margin-left: 7%;
}

.textLeft
{
    margin-right: 3%;
    margin-left: -23%;
}

.zoom
{
    position: absolute;
    z-index: 1;
    left: -30%;
    top: -22%;
    width: 80%;
}

nav.secondVersion ul
{
    transform: rotateZ(0);
    width: 40%;
    font-size: .8em;
    margin-top: 3%;
}

.light
{
    display: inline-flex;
}

img.secondVersion
{
    visibility: hidden;
    display: inline-flex;
}

.archive
{
    margin-top: 10%;
    margin-left: 45%;
    font-size: 1.3em;
}

.first.secondVersion .wrapDescription
{
    border-bottom-width: 0;
}

.secondVersion.wrapQuery
{
    margin-top: 5%;
}

.secondVersion .query
{
    transform: rotateZ(0);
}

.submit,
.advance
{
    font-size: .9em;
    padding: 1%;
}

.inputColor label
{
    font-weight: bold;
    display: inline-block;
    width: 70px;
}

.inputColor
{
    background: rgba(255, 250, 174, .7);
    padding: 1%;
    width: 70%;
    margin-left: -10%;
}

.submit
{
    margin-left: -60px;
}

.advance
{
    margin-left: 7px;
}

.examples.secondVersion
{
    margin-left: -3%;
}

.examples.secondVersion h4
{
    margin-left: 4.7%;
}

footer .secondVersion
{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    margin-top: -10%;
}

.firstLineFooter
{
    display: inline-flex;
    font-size: 1.5em;
    color: #777;
    width: 40%;
    align-items: baseline;
}

.yandexStart
{
    margin-right: 2%;
}

.firstLineFooter .compTek
{
    margin: 0;
}

.os
{
    text-align: center;
    margin-top: 1%;
}

.copyright,
.email
{
    width: 30%;
}

.copyright
{
    padding-top: 10px;
    margin-top: 10px;
    border-top: 2px solid #888;
}

.email
{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #888;
}

.secondVersion address
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .secondVersion img
{
    margin-top: 10px;
}

input[value='version']:checked ~ main aside .smoking,
input[value='version']:checked ~ main aside .light img,
input[value='version']:not(:checked) ~ main aside .smoking,
input[value='version']:checked ~ header .wrapH1,
input[value='version']:checked ~ header .blackBorder2,
input[value='version']:not(:checked) ~ header .firstVersion,
input[value='version']:not(:checked) ~ main aside .firstVersion,
input[value='version']:not(:checked) ~ footer .firstVersion,
input[value='version']:checked ~ main aside .secondVersion,
input[value='version']:checked ~ footer .secondVersion,
input[value='version']:not(:checked) ~ header .wrapH1,
input[value='version']:not(:checked) ~ main aside nav ul,
input[value='version']:not(:checked) ~ main aside .examples,
input[value='version']:checked ~ main aside .examples
{
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

input[value='version']:checked ~ main aside .light img,
input[value='version']:not(:checked) ~ main aside .smoking,
input[value='version']:checked ~ main aside .secondVersion,
input[value='version']:not(:checked) ~ header .firstVersion,
input[value='version']:not(:checked) ~ main aside .firstVersion
{
    visibility: visible;
    opacity: 0;
    animation-name: opening;
}

input[value='version']:checked ~ header .wrapH1
{
    animation-name: shiftHTo;
    position: absolute;
}

input[value='version']:not(:checked) ~ header .wrapH1
{
    animation-name: shiftHFrom;
    position: relative;
}

input[value='version']:checked ~ header .blackBorder2
{
    animation-name: shiftBlackBorderTo;
}

input[value='version']:not(:checked) ~ main aside .firstVersion ul
{
    animation-name: shiftNavTo;
}

input[value='version']:not(:checked) ~ footer .firstVersion,
input[value='version']:checked ~ footer .secondVersion
{
    animation-name: shiftUp;
    visibility: visible;
    opacity: 0;
}

input[value='version']:not(:checked) ~ main aside .examples,
input[value='version']:checked ~ main aside .examples
{
    animation-name: shiftLeft;
    visibility: visible;
    opacity: 0;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
{
    .wrapQuery,
    input[value='version']:checked ~ main aside.right
    {
        transform: rotateZ(-2deg);
    }

    aside.left
    {
        transform: rotateZ(-2deg);
    }

    aside.left .firstVersion
    {
        transform: rotateZ(2deg);
    }

    .news,
    aside.left .secondVersion,
    .examples
    {
        transform: rotateZ(0);
    }

    .blackBorder5
    {
        width: 15%;
        height: 15%;
    }

    .blackBorder6
    {
        height: 10%;
        top: 85%;
    }

    .blackBorder4,
    .redBorder1,
    .blackBorder5
    {
        top: 78%;
    }

    .redBorder2
    {
        top: 85%;
    }

    .compTekBottom
    {
        padding: 0;
        margin: 2%;
        margin-right: 30%;
        margin-bottom: 1%;
    }

    h1
    {
        padding-right: 20px;
    }

    .textLeft
    {
        margin-top: 130px;
    }

    .firstLineFooter
    {
        margin-top: 6.8%;
    }

    .zoom
    {
        top: -15%;
        left: -30%;
    }

    header > .secondVersion
    {
        width: 29%;
    }
}

@keyframes closeH3
{
    100%
    {
        transform: translateX(-30px);
    }
}

@keyframes opening
{
    50%
    {
        opacity: .5;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes shiftHTo
{
    0%
    {
        left: 40%;
    }
    100%
    {
        transform: rotateZ(-2deg);
        width: 10%;
        margin-left: 20%;
        position: absolute;
        top: 1%;
        left: 30%;
    }
}

@keyframes shiftHFrom
{
    0%
    {
        transform: rotateZ(-2deg);
        width: 10%;
        margin-left: 20%;
        position: absolute;
        top: 1%;
        left: 30%;
    }
    100%
    {
        padding-left: 10%;
        position: relative;
        z-index: 1;
        border-right: none;
        margin-top: 10px;
    }
}

@keyframes shiftBlackBorderTo
{
    100%
    {
        top: 1%;
        left: 56%;
        width: 30%;
        transform: rotateZ(2deg);
    }
}

@keyframes shiftNavTo
{
    0%
    {
        transform: rotateZ(2deg);
    }

    100%
    {
        transform: rotateZ(0);
    }
}

@keyframes shiftUp
{
    0%
    {
        transform: translateY(500px);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes shiftLeft
{
    0%
    {
        transform: translateX(500px);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0) rotateZ(2deg);
        opacity: 1;
    }
}
