.header {
    transform : rotateZ(-2deg);
    text-align: center;
    border-right: 3px solid red;
    border-bottom: 3px solid red;
    border-top: 3px solid red;
    border-left: 5px solid black;
    background-image: linear-gradient(to right, #fff 70%, #ffc0cb);
    margin: auto;
    width: 500px;
}
.mac-koi-win-dos {
    padding: 5px;
    text-align: center;
    color: #a9a9a9;
    transform : rotateZ(-2deg);
    font-weight: 600;
}
.yandex {
    border-right: 3px solid red;
    border-bottom: 3px solid red;
    border-top: 3px solid red;
    margin: 5px 5px 5px 5px;
    width: 250px;
    text-align: right;
    padding: 20px;
    font-size: 50px;
}
.ya {
    color: red;
    font-weight: 900;
    height: 100%;
    display: inline-block;
    border: 3px solid red;
}
.ndex {
    display: inline-block;
    font-weight: 700;
}
.comptek {
    position: absolute;
    top: 10px;
    left: 400px;
    display: inline-block;
    text-align: right;
}
.comp {
    font-weight: 900;
    padding: 2px;
    border: 1px solid black;
    display: inline-block;

}
.tek {
    font-weight: 900;
    color: white;
    background-color: red;
    padding: 2px;
    margin-left: -.36em;
    border: 1px solid black;
    display: inline-block;
}
.hot-news {
    padding: 5px;
    float: left;
    margin: 30px;
    margin-right: 100px;
    border-left: 1px solid red;
    border-right: 1px solid red;
}
.hot-words {
    transform : rotateZ(-2deg);
    font-size: 15px;
    font-weight: bold;
    color: red;
}
.left-line {
    border-left: 2px solid red; /* Параметры линии */
    max-height: 50px;
    margin-left: 20px; /* Отступ слева */
    padding-left: 10px; /* Расстояние от линии до текста */
}
.okur {
    margin: 20px;
    display: block;
}
.main-content {
    float: left;
}
.red-text {
    color: red;
}
.nav {
    margin: 20px;
    transform : rotateZ(-2deg);
    font-weight: 600;
    font-size: 15px;
}
.help-text {
    margin: 10px;
    font-size: 15px;
    border-bottom: 1px solid red;
}
.true-requests-text {
    margin: 10px;
    font-size: 15px;
}
.big-text {
    font-size: 17px;
}
.footer {
    clear:both;
    width:100%;
    overflow:hidden;
    text-align: center;
}
.header-bottom {
    transform : rotateZ(-2deg);
    text-align: center;
    border-right: 3px solid red;
    border-bottom: 3px solid red;
    border-top: 3px solid red;
    border-left: 5px solid black;
    background-image: linear-gradient(to right, #fff 70%, #ffc0cb);
    margin: auto;
    width: 500px;
    height: 50px;
}
.top-text {
    border-bottom: 1px solid red;
}
.bot-text {
    border-bottom: 1px solid red;
}
