@font-face
{
    font-family: 'OpenSans-CondLight';
    src: url(OpenSans-CondLight.ttf);
    font-weight: normal;
}

@font-face
{
    font-family: 'OpenSans-CondLight';
    src: url(OpenSans-CondBold.ttf);
    font-weight: bold;
}

body
{
    display: flex;
    flex-direction: column;
}

p
{
    font-size: 12px;
}

.rotated
{
    transform: rotate(-1deg);
}

.rotated p
{
    transform: rotate(1deg);
}

.border-bot
{
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #fff, #f00 40%, #fff 35%) 0 0 1 0;
}

.page
{
    display: flex;
    flex-direction: column;
}

.top
{
    display: flex;
}

.top-nav span
{
    color: rgba(0, 0, 0, .3);
    font-family: 'OpenSans-CondLight';
    font-weight: bold;
}

.logo-top
{
    display: flex;
    background-image: linear-gradient(to right, #fff 70%, #fcc);
    width: 30%;
    min-width: 450px;
    margin: auto;
    border: 2px solid;
    border-image: linear-gradient(to right, #000, #fff 20%, #f00 50%, #f00) 1;
}

.logo-top-yandex
{
    display: flex;
    font-size: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    margin-left: 37%;
    font-family: Impact, sans-serif;
}

.ya
{
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
    font-size: 52px;
    border: 2px solid #f00;
    color: #f00;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, .3);
}

.ndex
{
    border: 2px solid #f00;
}

.logo-top-comptek
{
    display: flex;
    margin-left: auto;
    margin-top: 3px;
    margin-right: 3px;
    height: 100%;
    opacity: .5;
}

.comp
{
    padding: 0 3px;
    flex-basis: 60%;
    background-color: #fff;
    border: 1px solid #000;
    font-weight: bold;
}

.tek
{
    padding: 0 3px;
    flex-basis: 40%;
    border: 1px solid #000;
    background-color: #f00;
    color: #fff;
}

.top,
.logo-bot
{
    text-align: center;
}

.top-nav
{
    text-align: center;
}

.content
{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    margin-left: 3%;
    margin-right: 15%;
}

.news
{
    margin-right: 5px;
    padding: 5px;
    width: 45%;
    border: 2px solid;
    border-image: linear-gradient(to bottom, #fff 5%,#f00 49%,#fff 84%) 0 1;
}

.news-top p
{
    font-size: 18px;
    color: #f00;
}

.news-block
{
    margin: 1% 0;
    padding: 3% 0;
    transition: transform 1s ease;
}

.news-block:hover
{
    transform: scale(1.1);
}

.news-block time
{
    font-size: 16px;
    font-weight: bold;
}

.news-block p
{
    font-size: 14px;
}

.main
{
    display: flex;
    flex-direction: column;
}

.links
{
    margin-left: 25%;
    margin-bottom: 5%;
}

.links span
{
    display: inline-block;
    margin: 0 3px;
    font-size: 16px;
    transition: transform 1s ease;
    font-family: 'OpenSans-CondLight';
    font-weight: bold;
}

.links span:hover
{
    transform: scale(1.3);
}

.links span:nth-child(odd)
{
    color: #f00;
}

.search-input
{
    display: flex;
    margin-left: 10%;
}

#search
{
    width: 250px;
}

.examples h1
{
    font-size: 20px;
}

footer
{
    margin: auto;
    text-align: center;
}
