body
{
    background: #fff;
}

header
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text
{
    transform: rotateZ(-2deg);
    font-size: 12px;
    color: grey;
    font-family: 'Arial Narrow';
    font-weight: bold;
}

main
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: rotateZ(-2deg);
}

.all-news
{
    flex-basis: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-image: linear-gradient(to bottom, #fff, red 55%, #fff 85%) 1 round;
    -moz-border-image: linear-gradient(to bottom, #fff, red 55%, #fff 85%) 1;
}

.all-news > h3
{
    font-size: 14px;
    margin: 0;
    color: red;
    font-family: 'Arial Narrow';
}

.all-news > div p
{
    margin: 0;
}

.all-news > div
{
    padding: 20px 0 10px;
    border-style: solid;
    border-image: linear-gradient(to right, #fff, red 40%, #fff 40%) 1 round;
    -moz-border-image: linear-gradient(to right, #fff, red 40%, #fff 40%) 1;
    border-top-width: 0;
}

.all-news time
{
    font-weight: bold;
}

.okur
{
    width: 117px;
}

.request
{
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 5%;
}

.search
{
    padding: 10px 10px 3px;
    border-style: solid;
    border-image: linear-gradient(to right, #fff, red 30%, #fff 30%) 1 round;
    -moz-border-image: linear-gradient(to right, #fff, red 30%, #fff 30%) 1;
    border-top-width: 0;
}

.search > p {
    font-size: 13px;
    padding: 0;
}

nav
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 7px;
    font-family: 'Arial Narrow';
    font-weight: bold;
    font-size: 14px;
}

nav > div
{
    padding: 0 7px;
}

nav > div > a
{
    text-decoration: none;
}

nav > div:nth-child(odd),
nav > div:nth-child(odd) > a
{
    color: red;
}

nav > div:nth-child(even),
nav > div:nth-child(even) > a
{
    color: #000;
}

.input
{
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
}

.input > div
{
    padding: 0 3px;
}

.examples
{
    padding: 20px 10px 0;
    display: flex;
    flex-direction: column;
}

.examples > div
{
    font-size: 13px;
}

.examples > h3
{
    font-size: 14px;
    margin: 0;
}

.not-rotate
{
    transform: rotateZ(2deg);
}

footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    padding-top: 5px;
}

.blue
{
    color: blue;
    text-decoration: underline;
}
