@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700&subset=latin,cyrillic);
body
{
    display: flex;
    flex-direction: column;
}

article
{
    display: flex;
    margin-top: 10px;
}

header,
footer
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: relative;
}

header
{
    font-family: 'Roboto Condensed', sans-serif;
}

footer
{
    align-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

footer .black-border
{
    height: 50px;
}

footer .comptek
{
    height: 45px;
}

.yandex-fist
{
    border: 3px solid #f00;
    color: #f00;
    padding-left: 5px;
    padding-right: 5px;
}

.red-border
{
    background: #fff;
    display: flex;
    font-size: 4.3em;
    height: 80px;
    justify-content: flex-end;
    left: 5px;
    position: absolute;
    top: 10px;
    width: 300px;
}

.red-border,
.comptek
{
    border: none;
}

.red-border:before,
.red-border:after,
.comptek:before,
.comptek:after
{
    content: '';
    position: absolute;
}

.red-border,
.comptek,
.yandex-fist
{
    box-shadow: 10px 14px 32px -8px rgba(0, 0, 0, .64);
    moz-box-shadow: 10px 14px 32px -8px rgba(0, 0, 0, .64);
    webkit-box-shadow: 10px 14px 32px -8px rgba(0, 0, 0, .64);
}

.red-border:before,
.comptek:before
{
    background: linear-gradient(to right, rgba(125, 185, 232, 0) 0%,rgba(255, 0, 0, 1) 100%);
    bottom: -3px;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#ff0000',GradientType=1 );
    left: -3px;
    right: -3px;
    top: -3px;
    z-index: -2;
}

.red-border:after,
.comptek:after
{
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -2;
}

.comptek
{
    background: linear-gradient(to right, rgba(255,191,191,0) 42%, rgba(255,191,191, .65) 88%, rgba(255,191,191, .65) 96%, rgba(255,191,191, 65) 100%);
    display: flex;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffbfbf', endColorstr='#a6ffbfbf',GradientType=1 );
    height: 80px;
    justify-content: flex-end;
    position: absolute;
    right: 5px;
    top: 12px;
    width: 300px;
}

.black-border
{
    border: none;
    height: 90px;
    position: relative;
    transform: rotate(-1deg);
    width: 600px;
}

.black-border:before,
.black-border:after
{
    content: '';
    position: absolute;
}

.black-border:before
{
    background: linear-gradient(to right, rgba(0,0,0, 65) 0%,rgba(0,0,0, 65) 1%,rgba(0,0,0,0) 60%,rgba(0,0,0,0) 99%);
    bottom: -3px;
    left: -3px;
    right: -3px;
    top: -3px;
    z-index: -4;
}

.black-border:after
{
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -3;
}

[type='button']
{
    display: block;
}

.inline
{
    display: flex;
}

.news
{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.news div
{
    padding: 10px;
}

.search
{
    flex-basis: auto;
}

.examples
{
    white-space: pre;
}

.address
{
    border: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

.address .text
{
    border: none;
    font-weight: normal;
    white-space: pre;
}

ul
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;
    list-style-type: none;
    margin-left: 20px;
    transform: rotate(-2deg);
}

li
{
    display: inline;
}

li:nth-child(odd)
{
    color: #f00;
}

.comptek-word .comp
{
    background: #fff;
    border: 1px solid #111;
}

.comptek-word .tek
{
    background: #f00;
    border: 1px solid #111;
    color: #fff;
}

.comptek-word
{
    border: none;
    font-size: 1.2em;
    height: 20px;
    margin: 8px;
    opacity: .8;
}

article
{
    display: flex;
    justify-content: center;
}

.news,
.search
{
    margin: 10px;
    padding-left: 20px;
    position: relative;
}

.news:before,
.news:after,
.search:before,
.search:after
{
    content: '';
    position: absolute;
    transform: rotate(-2deg);
}

.news:before,
.search:before
{
    background: linear-gradient(rgba(255,255,255,1) 2%, rgba(255,0,0,1) 49%, rgba(255,255,255,1) 100%);
    bottom: -3px;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
    left: -3px;
    right: 1px;
    top: -3px;
    z-index: -4;
}

.news:after,
.search:after
{
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -3;
}

.red-bottom
{
    margin: 10px;
    padding-left: 20px;
    position: relative;
}

.red-bottom:before,
.red-bottom:after
{
    content: '';
    margin-bottom: -10px;
    position: absolute;
    transform: rotate(-2deg);
}

.red-bottom:before
{
    background: linear-gradient(to right, rgba(125,185,232,0) 0%,rgba(255,50,50, 71) 51%,rgba(255,255,255, 72) 52%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 85%,rgba(255,255,255,1) 99%);
    bottom: -3px;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#ffffff',GradientType=1 );
    left: 1px;
    right: 1px;
    top: 1px;
    z-index: -2;
}

.red-bottom:after
{
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

.hot-news
{
    color: #f00;
    display: block;
    font: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 5px;
}

.data,
.bold
{
    font-weight: bold;
    margin-top: 20px;
}

.data
{
    display: block;
}
